doctype html
//-
    region header
    Copyright Torben Sickert 16.12.2012

    License
    =======

    This library written by Torben Sickert stand under a creative commons naming
    3.0 unported license. see http://creativecommons.org/licenses/by/3.0/deed.de
    endregion
-
    // region language
    if (!LANGUAGES)
        LANGUAGES = ['deDE', 'enUS', 'frFR']
    // endregion
    // region location
    IMAGE_PATH = 'image/'

    LESS_PATH = 'less/'
    CASCADING_STYLE_SHEET_PATH = 'cascadingStyleSheet/'

    COFFEE_SCRIPT_PATH = 'coffeeScript/'
    JAVA_SCRIPT_PATH = 'javaScript/'

    DATA_PATH = 'data/'

    DISTRIBUTION_BUNDLE_FILE_PATH = `${DATA_PATH}distributionBundle.zip`
    // endregion
    // region runtime
    if (!URL)
        URL = `http://torben.website/${NAME}`
    if (!SOURCE_URL)
        SOURCE_URL = `https://github.com/thaibault/${NAME}`
    START_UP_ANIMATION_NUMBER = 0
    // endregion
html.no-javascript(lang=LANGUAGE)&attributes({
    manifest: includeManifest && 'manifest.appcache'
})
    // region head
    head
        title #{NAME}
        // region meta in formations
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

